{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">

    {% for top_book in top_books %}
        <div class="card booklist" style="width: 18rem;">
            <img src="{{ top_book.cover }}" style="height:300px; width: 195px;" class="card-img-top" alt="open book">
            <div class="card-body">
                <h5 class="card-title">{{ top_book.name }}</h5>
                <p class="card-text"><a href="{{ top_book.url }}" target="_blank" rel="noopener noreferrer">Learn More on GoodReads</a></p>
            </div>
            <!-- <ul class="list-group list-group-flush">
                <li class="list-group-item">Test</li>
                <li class="list-group-item">Test</li>
                <li class="list-group-item">Test </li>
            </ul> -->
            <div class="card-body">
                <form action="{{ url_for('api.create_book') }}" method="GET">
                    <input type="hidden" value="{{ top_book.name }}" name="name">
                    <input type="hidden" value="{{ top_book.cover }}" name="author">
                    <button>Add To List</button>
                </form>

            </div>
        </div>
    {% endfor %}

    </div>
</div>

{% endblock content %}