{% extends 'base.html' %}

{% block content %}

<div class="container">
    <!-- Header Section -->
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>Let's build the future of reading together!</h2>
            <h5>Create an amazing API tool for book loving developers all over the world.</h5>
            <div>
                <button class="btn btn-success">View Our Docs</button>
                <button class="btn btn-success">Join Our Slack</button>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <img class="header-image" src="../../static/images/books.jpg" alt="Hero Header Image">
        </div>
    </header>
    <!-- End of Header Section -->

    <!-- Start Middle Section -->

    <!-- Collection of Features Section -->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../../static/images/api.png" alt="api image">
            <h4>Dedicated API Routes</h4>
            <p>
                If you are a fan of using traditional AP routes, we have those for you!
            </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/graphql.png" alt="graphql image">
            <h4>GraphQL API Route</h4>
            <p>
                If you want all the data from one endpoint, we have that too!
            </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/db.png" alt="database image">
            <h4>Backed by a PostgreSQL Database</h4>
            <p>
                All data will be persisted inside of a secure Postgres Database.
            </p>
        </div>
    </section>
    <!-- End of Collection Features -->

    <!-- Community Section -->
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../../static/images/books.jpg" alt="Drone Image" id="Drone-image">
        </div>
        <div class="col-12 col-md-6">
            <h4>Talk with like minded book lovers</h4>
            <p>
                Talk with other devs around the world and collab
                on projects with your data. Join our slack channel and give 
                a star to the project on Github!
            </p>
            <div>
                <button class="btn btn-success">View on Github</button>
                <button class="btn btn-success">Join our Slack Channel</button>
            </div>
        </div>
    </section>
    <!-- End of Community Section -->

    <!-- Footer -->
    <footer class="row" id="footer">
        <div class="col-2">
            <img src="../../static/images/logo.jpg" alt="Books Galore Logo" id="footer-logo">
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Books Galore?</p>
                <p>The Books Galore Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Books Galore?</p>
                <p>The Books Galore Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Books Galore?</p>
                <p>The Books Galore Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Books Galore?</p>
                <p>The Books Galore Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Books Galore?</p>
                <p>The Books Galore Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
</div>

{% endblock content %}