{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 align-self-center welcome">
            <h2 class="header-text">Welcome to Reading Fusion</h2>
            <p>
                Here you can get a list of top books from last week within a specific genre and add 
                them to your To Read List so you remember to check them out later!
            </p>
        </div>
    </div>
</div>




{% endblock content %}