{% extends 'base.html' %}


{% block content %}

<!-- Flash Flash Message to User -->
{% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
        {% for cat, msg in messages %}
            {% if cat == 'auth-success' %}
                <div class="container">
                    {{ msg }}
                    <button type="button" class="close" data-dismiss="alert" onclick="this.parentElement.style.display='none'">&times;</button>     <!-- &times; is an x symbol -->
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}

<header class="hero-section">
    <h3 class="header-text">Welcome to Books Galore, {{ current_user.username }}!</h3>
</header>

<div class="container">
    <h3>Here are your profile details</h3>
    <ul class="list-group">
        <li class="list-group-item">Email: {{ current_user.email }}</li>
        <li class="list-group-item">Token: {{ current_user.token }}</li>    
    </ul>
</div>


{% endblock content %}