<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="../static/css/main.css">
<title>Reading Fusion</title>
</head>
<body>

    <!-- NavBar Here -->

    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('site.home') }}">Reading Fusion</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            
            <span class="navbar-toggler-icon"><i class="fas fa-bars" style="color:blanchedalmond; font-size:28px;"></i></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('site.home') }}">Home</a>
              </li>
              {% if current_user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('site.list_by_genre')}}">Top Books</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('site.profile')}}">My List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.logout')}}">Log Out</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.signin') }}">Sign In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.signup') }}">Sign Up</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>

    <!-- End Nav Bar -->

    <!-- something else from a different html page is going to go here -->
    <main>
    {% block content %}       
    {% endblock content %}
    </main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>