<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <fieldset class="title-field">
            {{ form.title.label }}
            {{ form.title(class='form-control', placeholder='Title') }}
        </fieldset>
        <fieldset class="author-field">
            {{ form.author.label }}
            {{ form.author(class='form-control', placeholder='Author') }}
        </fieldset>

        {{ form.submit_button(class='btn btn-secondary btn-block mt-2') }}
    </div>
</form>